* {
    font-family: "CaskaydiaCove Nerd Font Propo", sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.8);
    color: #ffffff;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin: 0;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: inherit;
}

#workspaces {
    margin: 6px;
    background-color: #1c1e28;
    border: 1px solid #313244;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#workspaces button {
    padding: 0 7px;
    background-color: transparent;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    background: #3f3f46;
}

#workspaces button.active {
    color: #61b6e6;
    border-top: 2px solid #61b6e6;
}

#workspaces button.empty {
    color: #777;
}

#workspaces button.empty.active {
    color: #61b6e6;
    border-top: 2px solid #61b6e6;
}

#window {
    margin-left: 5px;
}

#mode {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#mode,
#power-profiles-daemon,
#tray-expander,
#bluetooth,
#custom-power,
#custom-notification,
#mpris,
#custom-colorpicker,
#custom-wallpaper {
    padding: 0 10px;
    color: #ffffff;
    margin: 6px 6px 6px 0;
    background-color: #1c1e28;
    border: 1px solid #313244;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#tray-expander {
    background-color: #1c1e28;
    border: 1px solid #313244;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#custom-expand-icon {
    background: none;
}

#tray {
    color: #ffffff;
    padding-left: 10px;
}

#clock {
    background-color: #1c1e28;
    border: 1px solid #313244;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#battery {
    background-color: #ffffff;
    color: #27272a;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #27272a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #222;
    }
}

#battery.critical:not(.charging) {
    background-color: #bf2257;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    background-color: #bf2257;
    color: #222;
}

#power-profiles-daemon.balanced {
    background-color: #4881dd;
    color: #222;
}

#power-profiles-daemon.power-saver {
    background-color: #52c87d;
    color: #222;
}

label:focus {
    background-color: #222;
}

#network.disconnected {
    background-color: #bf2257;
    color: #222;
}

#bluetooth.disabled {
    background-color: #bf2257;
    color: #222;
}

#pulseaudio.muted {
    background-color: #bf2257;
    color: #222;
}

#custom-power {
    background-color: #bf2257;
    color: #222;
}

#custom-colorpicker {
    color: #c861bc;
}

#custom-wallpaper {
    color: #52c87d;
}

#custom-rofi {
    font-size: 20px;
    padding: 0 10px;
    margin: 6px 0 6px 6px;
    background-color: #1c1e28;
    border: 1px solid #313244;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: #c861bc;
}

#mpris {
    color: #c861bc;
}

#mpris.paused {
    color: #777;
    font-style: italic;
}
